* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--color-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /*! --- COLORS --- */
  --color-black: #0c0c0d;
  --color-dark: #232428;
  --color-light-dark: #26272a;
  --color-grey: #565657;
  --color-light-grey: #949496;
  --color-white: #e8e8e8;
  --color-orange: #f47521;
}

a {
  color: inherit;
  text-decoration: none;
}
